.fish {
    width: 200px;
    height: auto;
}

.fish svg {
    width: 100%;
    height: auto;
}

/* #fish {
    animation: swim 2s ease-in-out infinite;
}

@keyframes swim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
} */


/* .fish {
    position: relative;
    animation: swim 5s infinite alternate;
}

@keyframes swim {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(3deg);
    }

    100% {
        transform: translateY(0) rotate(-3deg);
    }
}

.left-fin,
.right-fin {
    animation: fin-flap 1s infinite alternate;
}

@keyframes fin-flap {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.tail {
    animation: tail-sway 1s infinite alternate;
}

@keyframes tail-sway {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-15deg);
    }
} */