@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

* {
    box-sizing: border-box;
}

body {
  
    
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: white;
    position: relative;
    margin: 0;


    @media (min-width: 40em) {
        font-size: 2rem;
    }
}

.fish-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // perspective: 100rem;
    // perspective-origin: center center;
    // transform-style: preserve-3d;
    // pointer-events: none;
    // z-index: 2;
}




.content {
    position: relative;
    z-index: 1;
    padding-bottom: 100vh;
}

section {
    // height: 100vh;
    width: 100%;
    margin-top: 100vh;
}


.fish-box {
    width: max-content;
}

.fish {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    transition: all .5s;
}

.fish-wrapper.up .fish {
    transform: matrix(1, 0, 0, 1, 0, 0);
}