@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Judson', serif;
    background: linear-gradient(to bottom,
            rgba(99, 167, 191, 1),
            rgba(94, 86, 179, 1),
            rgba(72, 139, 163, 1),
            rgba(79, 124, 179, 1),
            rgba(52, 115, 140, 1),
            rgba(48, 92, 145, 1),
            rgba(39, 82, 145, 1),
            rgba(19, 58, 110, 1),
            rgba(10, 50, 80, 1),
            rgba(40, 41, 100, 1),
            rgba(14, 52, 94, 1),
            black);
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: white;
    position: relative;
    margin: 0;

    &::after {
        position: fixed;
        content: '';
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.5));
    }

    @media (min-width: 40em) {
        font-size: 2rem;
    }
}

.rays {
    --r: 10deg;
    --c: rgba(255, 251, 227, 0.2);
    --size: max(60vh, 80rem);
    --mask: radial-gradient(circle at center, black, transparent 50%);
    position: fixed;
    pointer-events: none;
    top: calc(var(--size) * -0.55);
    left: 50%;
    width: var(--size);
    height: var(--size);
    pointer-events: none;

    >div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: repeating-conic-gradient(var(--c), var(--c) var(--r), transparent var(--r), transparent calc(var(--r) * 2));
        -webkit-mask-image: var(--mask);
        mask-image: var(--mask);
        // animation: raysRotate 120000ms linear infinite;
    }
}

@keyframes raysRotate {
    50% {
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.fish-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // perspective: 100rem;
    // perspective-origin: center center;
    // transform-style: preserve-3d;
    // pointer-events: none;
    // z-index: 2;
}

.fish {
    // --bodyW: 2rem;
    // --o: 0.95;
    // --l: 100%;
    // --c: hsla(250deg, 50%, var(--l), var(--o, 0.6));
    // --size: 10rem;
    // position: relative;
    // width: var(--size);
    // height: var(--size);
    // transform-style: preserve-3d;
    // transform-origin: center;

    // @media (min-width: 1000px) {
    //     --size: 20rem;
    //     --bodyW: 4rem;
    // }
}

/* Lights */
.lights {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.lights__group {
    position: relative;
    height: 100%;
}

.lights__light {
    --size: 0.35rem;
    width: var(--size);
    height: var(--size);
    position: absolute;
    background: rgba(255, 255, 255, 1);
    border-radius: 100%;
    top: 10%;
    left: 25%;
    filter: blur(0.1rem);
    animation: blink 2500ms var(--d, 0ms) infinite alternate;

    &:nth-child(2) {
        --d: 200ms;
        top: 40%;
        left: 12%;
    }

    &:nth-child(3) {
        --d: 350ms;
        top: 60%;
        left: 18%;
    }

    &:nth-child(4) {
        --d: 600ms;
        top: 25%;
        left: 66%;
    }

    &:nth-child(5) {
        --d: 1210ms;
        top: 43%;
        left: 55%;
    }

    &:nth-child(6) {
        --d: 420ms;
        top: 90%;
        left: 37%;
    }

    &:nth-child(7) {
        --d: 1100ms;
        top: 82%;
        left: 91%;
    }

    &:nth-child(8) {
        --d: 1560ms;
        top: 67%;
        left: 81%;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}


.content {
    position: relative;
    z-index: 1;
    padding-bottom: 100vh;
}

section {
    height: 100vh;
    width: 100%;
    margin-top: 100vh;

    &:nth-child(4n),
    &:nth-child(4n - 1) {
        --col: 3;
    }
}

.section__content {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    // @media (min-width: 50rem) {
    //     display: grid;
    //     grid-template-columns: repeat(3, minmax(0, 25rem));
    //     gap: 2rem;
    //     padding: 3rem;

    //     >* {
    //         grid-column: var(--col, 1);
    //         opacity: 0;
    //     }
    // }
}

.indicator {
    text-align: center;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-size: 1.2rem;

    span {
        display: block;

        &:nth-child(2) {
            animation: arrowMove 600ms infinite alternate;
        }
    }
}

@keyframes arrowMove {
    to {
        transform: translate3d(0, 0.5rem, 0);
    }
}

.heading {
    margin: 400px 0;
}


.fish-box {
    width: max-content;
}

.fish {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    transition: all .5s;
}

.fish-wrapper.up .fish {
    transform: matrix(1, 0, 0, 1, 0, 0);
}