.wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

.heading,
.section__content {
    margin: 400px 0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}


.fish-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    perspective: 100rem;
    perspective-origin: center center;
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: 2;
}

.fish {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
}